# Django/local actual
VITE_API_BASE_URL=http://127.0.0.1:8001/api
VITE_API_PROVIDER=django

# .NET Plesk controlado
# VITE_API_BASE_URL=https://api.jem-nexus.cl
# VITE_API_PROVIDER=dotnet

VITE_WHATSAPP_NUMBER=56912345678

VITE_PUBLIC_SITE_URL=http://localhost:5174
VITE_GTM_ID=
